.movie_details {
    display: flex;
    padding: 20px;
    background-color: aliceblue;
}

.movie_info {
    margin-left: 20px;
    font-family: sans-serif;
}

.company {
    display: flex;
    flex-direction: column;
}

.company img {
    margin-left: 20px;
}

.movie_photo img {
    box-shadow: 0 5px 15px 3px gray;
}



